






//Mixins
@mixin boton {
    padding: 15px 15px;
    color: white;
    background-color: #f64f64;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}

@mixin segundoBoton{
    padding: 15px 30px;
    color: white;
    background-color: #f64f64;;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin:12px;
}

@mixin card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition:  all 0.25s;
    padding: 8px;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
//Importaciones de la pagina principal

@import "particionSeccion";
@import "particionSegunda";
@import "footer";

